.row_poster{
    width: auto;
    object-fit: contain;
    max-height:150px;
    transition: transform 450ms;
    padding:3px;
}

.row_poster:hover{
    transform: scale(1.09);
}

.row_posters{
    display:flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding:20px;
}

.row_posters::-webkit-scrollbar{
    display:none;
}

.row_posters:hover{
    transform: scale(1.08);
}

.row_posterLarge{
    max-height: 450px;
}

.row_posterLarge:hover{
    transform: scale(1.09);
}

.row{
    margin-left: 20px;
    color:white;
}

.movie_title>p{
    font-size: 12px;
}



